@mixin report-font {
    font-family: verdana, arial, sans-serif;
    color: #333333; 	
}

@mixin report-header {
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-right: 10px;
    background-color: #F0F0F0;
    font-weight: normal;
    text-align: left;
    border: 1px solid #DDDDDD;  
}

@mixin report-cell {
    @include report-font;
    white-space: normal;
    padding-right: 10px;
    padding-left: 10px; 
    padding-top: 10px;
    padding-bottom: 10px;     
    border: 1px solid #DDDDDD;
}

@mixin box-shadow($string) {
    box-shadow: $string;        
    -webkit-box-shadow: $string;
    -moz-box-shadow: $string;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.report-title {
	@include report-font;
	text-align: center;
    font-size: 20px;
}

.report-table {
    @include report-font;
    display: block;
    table-layout: fixed;
    word-wrap: break-word;
    border-spacing: 0;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border: none;
    border-collapse: collapse;
    @include border-radius(10px 10px 0 0);    
    @include box-shadow(0 0 6px 1px #C7C7C7);
}

.report-header-left {
    @include report-header;
    text-align: left;    
}

.report-header-center {
    @include report-header;
    text-align: center;
}

.report-header-right {
    @include report-header;
    text-align: right;
}

.report-table thead {
    @include border-radius(10px 10px 0 0);
}

.report-table thead tr {
    @include border-radius(10px 10px 0 0);
}

.report-table thead tr:first-child td:first-child {
    @include border-radius(10px 0 0 0);
}

.report-table thead tr:first-child td:last-child {
    @include border-radius(0 10px 0 0); 
}

.report-header:first-child {
	@include border-radius(10px 0 0 0);
}

.report-header:last-child {
    @include border-radius(0 10px 0 0);
}

.report-cell-wide {
    @include report-cell;
}

.report-cell-narrow {
    @include report-cell;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

.report-cell-normal {
    @include report-cell;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}

.report-cell-count {
    @include report-cell;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    text-align: right;  
}

.report-cell-money {
    @include report-cell;
    width: 150px;
    min-width: 150px;
    max-width: 100px;
    text-align: right; 
}

.report-cell-left {
    text-align: left; 
}

.report-cell-center {
    text-align: center; 
}

.report-cell-right {
    text-align: right; 
}

.report-row-header {
    font-size: 14px;
}

.report-row-detail {
    font-size: 14px;
}

.report-row-total {
    font-weight: bold;
    font-size: 16px;
}

